* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-colore : #080808;
    --second-bg-colore : #131313;
    --text-colore : white;
    --main-colore : #f4d03f;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-colore);
    color: var(--text-colore);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem, 12%, 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-colore);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-colore);
}
.nav-bar a{
    font-size: 1.8rem;
    color: var(--text-colore);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}
.nav-bar a:hover,
.nav-bar a.active{
    color: var(--main-colore);
    border-bottom: 3px solid var(--main-colore);
}